.card {
  width: $cardWidth;
  justify-content: center;
  padding: 15px 14px;
  margin-bottom: 50px;
  background: #fff;
  border: $cardBorder 1px solid;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 134px;
    display: block;
    margin: 15px auto 45px;
    transition: transform 1s;

    &:hover {
      outline: $cardBorder 3px solid;
      transform: scale(1.2);
    }
  }

  &__name {
    margin: 0;
    line-height: 15px;
    @include normalText;
  }

  &__code {
    @include smallText;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-flex;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__info--price {
    align-items: flex-end;
  }

  &__stars {
    display: flex;
  }

  &__text {
    @include smallText;
  }

  &__text--price {
    margin-bottom: 1px;
  }

  &__number {
    @include bigText;
  }

  &__btn {
    width: 100%;
    height: 40px;
    background: $accentColor;
    border: 1px solid $accentColor;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
    transition: background-color 1s;

    &:hover {
      background-color: #fff;
      color: $accentColor;
    }
  }
}
