.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  column-gap: $cardGap;
  justify-content: center;
  margin: 0 auto;
  max-width: 4 * $cardWidth + 3 * $cardGap;
}
